body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
    color: #666666;
}

#content {
    background-color: #000033;
    color: #FFFFFF;
}

header {
    background-color: #000033;
}

nav {
    text-align: center;
    font-weight: bold;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

h2 {
    text-shadow: 1px 1px 1px #CCCCCC;
    font-family: Georgia, "Times New Roman", serif;
    color: #3399CC;
}

dt {
    color: #000033;
}

.resort {
    font-weight: bold;
    color: #5C7FA3;
}

h1 {
    background-color: #000033;
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0;
    margin-top: 0;
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    line-height: 60px;
    text-align: center;
    padding-top: 15px;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
}

ul {
    list-style-image: url(marker.gif);
}

footer {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

contact {
    font-size: 90%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}

#homehero {
    height: 300px;
    background-image: url(images/coasthero.jpg);
    background-origin: content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurthero.jpg);
    background-origin: content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-origin: content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}